//
//  Build.xcconfig
//  LunarBarMac
//
//  Created by cyan on 12/21/23.
//
//  https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
PRODUCT_BUNDLE_IDENTIFIER = app.cyan.lunarbar-dev

MARKETING_VERSION = 1.2.0
CURRENT_PROJECT_VERSION = 3

#include? "Local.xcconfig"
