name: Build and test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
    types: [synchronize, opened, reopened, ready_for_review]

jobs:
  lunarbar-mac:
    name: LunarBarMac
    runs-on: macos-15
    if: github.event.pull_request.draft == false
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.0.app/Contents/Developer

    steps:
      - uses: actions/checkout@v4
      - name: Build LunarBarMac
        run: |
          xcodebuild build -scheme LunarBarMac -destination 'platform=macOS' CODE_SIGN_IDENTITY="" CODE_SIGNING_ALLOWED=NO CODE_SIGNING_REQUIRED=NO

      - name: Test LunarBarKitTests
        run: |
          xcodebuild test -scheme LunarBarKitTests -destination 'platform=macOS' CODE_SIGN_IDENTITY="" CODE_SIGNING_ALLOWED=NO CODE_SIGNING_REQUIRED=NO

      - name: Test LunarBarMacTests
        run: |
          xcodebuild test -scheme LunarBarMacTests -destination 'platform=macOS' CODE_SIGN_IDENTITY="" CODE_SIGNING_ALLOWED=NO CODE_SIGNING_REQUIRED=NO
